openapi: 3.1.0

info:
  title: THREAD API
  version: 1.0.0
  description: |
    REST API for the THREAD open standard — Textile Harmonised Record Exchange and
    Attestation Data. Enables brands, suppliers, and certification bodies to create,
    contribute to, and publish batch-level textile Digital Product Passports (DPPs)
    under EU ESPR.

    **JSON Schema:** https://thread.textileeco.com/schema.json

    ## Authentication

    Three methods are supported:

    - **API key** (`X-API-Key` header) — for brand ERP/PLM integrations. Keys carry
      `dpp:brand:write` + `dpp:brand:read` by default and do not expire.
    - **OAuth 2.0 bearer token** — for supplier system integrations. Client
      credentials flow; tokens expire after 1 hour. Scopes map to supply chain tiers.
    - **Invite token** (`Authorization: Bearer thr_inv_...`) — short-lived, single-use
      token scoped to one tier + GTIN + batch. Generated by the brand and shared with
      the supplier. Maximum lifetime 7 days.

    Cross-tier writes are rejected with `403`. The public read endpoint
    (`GET /thread/v1/dpp/{gtin}/{batchId}`) requires no authentication for published DPPs.

  contact:
    name: TextileEco
    url: https://thread.textileeco.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.textileeco.com/v1
    description: Production

tags:
  - name: Products
    description: Product shell management
  - name: Batches
    description: Batch DPP lifecycle
  - name: Supply Chain Data
    description: Per-tier data submission
  - name: Completeness & Publishing
    description: ESPR completeness and DPP publication
  - name: Token Management
    description: Scoped invite token issuance and revocation
  - name: Federation
    description: Cross-platform interoperability endpoints
  - name: Webhooks
    description: Event subscriptions

paths:
  # ── Products ──────────────────────────────────────────────────────────────

  /products/{gtin}:
    put:
      operationId: upsertProduct
      summary: Create or update a product shell
      tags: [Products]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductInput"
            examples:
              default:
                value:
                  gtin: "0123456789012"
                  name: Organic Cotton T-Shirt
                  modelNumber: SS26-TEE-001
                  category:
                    gpc: "10000002"
                    description: T-Shirts
                  targetMarket: [EU, PT]
                  euImporter:
                    name: Example EU Importer Lda
                    country: PT
                    vatNumber: PT500000000
      responses:
        "200":
          description: Product updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "201":
          description: Product created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    get:
      operationId: getProduct
      summary: Get a product shell
      tags: [Products]
      security:
        - bearerAuth: [dpp:brand:read]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
      responses:
        "200":
          description: Product record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Batches ───────────────────────────────────────────────────────────────

  /products/{gtin}/batches:
    post:
      operationId: createBatch
      summary: Create a batch thread
      tags: [Batches]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchInput"
            examples:
              default:
                value:
                  batchId: B2026Q1-001
                  productionDate: "2026-01"
                  quantity: 500
                  unit: pieces
                  countryOfOrigin: TR
      responses:
        "201":
          description: Batch created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchCreatedResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"

  /products/{gtin}/batches/{batchId}:
    get:
      operationId: getBatch
      summary: Get a batch thread (authenticated)
      description: Returns the full batch thread including draft data. Requires `dpp:brand:read` scope.
      tags: [Batches]
      security:
        - bearerAuth: [dpp:brand:read]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      responses:
        "200":
          description: Full batch thread
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDPP"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Invite Tokens ────────────────────────────────────────────────────────

  /products/{gtin}/batches/{batchId}/invite-tokens:
    post:
      operationId: createInviteToken
      summary: Generate a scoped supplier invite token
      description: >
        Creates a short-lived token scoped to a single tier, GTIN, and batch.
        The returned `url` can be shared with the supplier and opens the Tier C
        web form on any device. The token can also be used directly as a bearer
        token against the API. Invalidated after the first successful data write.
      tags: [Batches]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/gtin'
        - $ref: '#/components/parameters/batchId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteTokenInput'
            examples:
              tier2:
                value:
                  tier: tier2
                  expiresIn: 604800
      responses:
        '201':
          description: Invite token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteTokenResponse'
              examples:
                default:
                  value:
                    token: thr_inv_q7r8s9t0u1v2w3x4y5z6a7b8c9d0e1f2
                    url: https://app.textileeco.com/contribute/thr_inv_q7r8s9t0u1v2w3x4y5z6a7b8c9d0e1f2
                    tier: tier2
                    scope:
                      gtin: "0123456789012"
                      batchId: B2026Q1-001
                    expiresAt: "2026-05-01T00:00:00Z"
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Supply Chain Data ─────────────────────────────────────────────────────

  /products/{gtin}/batches/{batchId}/materials:
    put:
      operationId: submitMaterials
      summary: Submit fibre composition data (Tier 3)
      tags: [Supply Chain Data]
      security:
        - bearerAuth: [dpp:tier3:write]
        - inviteToken: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/MaterialEntry"
            examples:
              default:
                value:
                  - fibre: organic cotton
                    percentage: 95
                    origin:
                      country: IN
                      region: Gujarat
                    recycledContent: 0
                    certifications: [GOTS]
                  - fibre: elastane
                    percentage: 5
                    origin:
                      country: DE
                    recycledContent: 0
                    certifications: []
      responses:
        "200":
          $ref: "#/components/responses/DataAccepted"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /products/{gtin}/batches/{batchId}/manufacturing:
    post:
      operationId: submitManufacturingStage
      summary: Submit a manufacturing facility stage
      description: Appends one processing stage to the supply chain. Each call adds a stage; the array is ordered by submission time.
      tags: [Supply Chain Data]
      security:
        - bearerAuth: [dpp:tier1:write]
        - bearerAuth: [dpp:tier2:write]
        - bearerAuth: [dpp:tier3:write]
        - inviteToken: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManufacturingStage"
            examples:
              default:
                value:
                  stage: dyeing_finishing
                  facility:
                    id: "urn:gs1:414:9876543210003"
                    name: XYZ Dyehouse
                    country: TR
                    city: Bursa
      responses:
        "200":
          $ref: "#/components/responses/DataAccepted"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /products/{gtin}/batches/{batchId}/environmental:
    put:
      operationId: submitEnvironmental
      summary: Submit environmental impact data (Tier 2)
      tags: [Supply Chain Data]
      security:
        - bearerAuth: [dpp:tier2:write]
        - inviteToken: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentalData"
            examples:
              default:
                value:
                  carbonFootprint:
                    value: 4.2
                    unit: kgCO2e
                    scope: cradle-to-gate
                    methodology: Higg MSI
                  waterConsumption:
                    value: 2700
                    unit: litres_per_unit
                  chemicalsOfConcern: []
                  microplasticRisk: low
      responses:
        "200":
          $ref: "#/components/responses/DataAccepted"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /products/{gtin}/batches/{batchId}/social:
    put:
      operationId: submitSocial
      summary: Submit social compliance data (Tier 1)
      tags: [Supply Chain Data]
      security:
        - bearerAuth: [dpp:tier1:write]
        - inviteToken: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SocialData"
            examples:
              default:
                value:
                  certifications: [GOTS, Fair Trade Certified]
                  livingWageStatus: third-party-assured
                  auditRef: https://audits.textileeco.com/report/12345
      responses:
        "200":
          $ref: "#/components/responses/DataAccepted"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /products/{gtin}/batches/{batchId}/compliance:
    put:
      operationId: submitCompliance
      summary: Submit regulatory compliance data (Tier 1 / Brand)
      tags: [Supply Chain Data]
      security:
        - bearerAuth: [dpp:tier1:write]
        - bearerAuth: [dpp:brand:write]
        - inviteToken: []
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComplianceData"
            examples:
              default:
                value:
                  reachSVHC: []
                  zdhcMRSL: compliant
      responses:
        "200":
          $ref: "#/components/responses/DataAccepted"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /products/{gtin}/batches/{batchId}/circular-economy:
    put:
      operationId: submitCircularEconomy
      summary: Submit circular economy and end-of-life data (Brand)
      tags: [Supply Chain Data]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CircularEconomyData"
            examples:
              default:
                value:
                  recycledContent: 0
                  recyclabilityScore: high
                  recyclabilityBasis: 100% single-fibre natural, no coatings
                  repairInfo: https://brand.textileeco.com/repair/SS26-TEE-001
                  endOfLifeOptions: [take-back-scheme, home-compostable]
      responses:
        "200":
          $ref: "#/components/responses/DataAccepted"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # ── Completeness & Publishing ─────────────────────────────────────────────

  /products/{gtin}/batches/{batchId}/completeness:
    get:
      operationId: getCompleteness
      summary: Get ESPR completeness report
      tags: [Completeness & Publishing]
      security:
        - bearerAuth: [dpp:brand:read]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      responses:
        "200":
          description: Completeness report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletenessReport"
              examples:
                default:
                  value:
                    score: 0.87
                    status: incomplete
                    espr:
                      required: 14
                      present: 12
                      missing:
                        - environmental.carbonFootprint
                        - compliance.reachSVHC
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /products/{gtin}/batches/{batchId}/publish:
    post:
      operationId: publishBatch
      summary: Publish a thread
      description: |
        Transitions a batch thread from `draft` to `published`. Only callable with
        `dpp:brand:write` scope. Blocked if ESPR-required fields are missing.
        Once published, the thread is publicly readable via the federation endpoint
        and a GS1 Digital Link URL is issued.
      tags: [Completeness & Publishing]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      responses:
        "200":
          description: thread published
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishResponse"
              examples:
                default:
                  value:
                    status: published
                    digitalLinkUrl: https://id.textileeco.com/01/0123456789012/10/B2026Q1-001
                    registryRef: https://espr-registry.eu/thread/0123456789012/B2026Q1-001
        "400":
          description: ESPR completeness requirements not met
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                default:
                  value:
                    error: espr_incomplete
                    message: thread cannot be published — required ESPR fields are missing
                    fields:
                      - path: environmental.carbonFootprint
                        issue: Required for ESPR compliance
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # ── Token Management ──────────────────────────────────────────────────────

  /products/{gtin}/batches/{batchId}/invite-tokens:
    post:
      operationId: createInviteToken
      summary: Generate a scoped invite token for a supplier
      description: |
        Creates a short-lived JWT granting a supplier write access to a specific GTIN
        and batch for their tier. The returned `token` can be used as a Bearer token
        in direct API calls, or `webFormUrl` can be shared with the supplier for the
        Tier C web form.

        Tokens are signed ES256 using the node key at `/.well-known/thread-keys.json`
        and are revocable via `DELETE /invite-tokens/{tokenId}`.

        On batch creation, one invite link per tier is pre-generated and returned in
        `BatchCreatedResponse.supplierInviteLinks`. Use this endpoint to generate
        additional tokens or replacements after the initial tokens expire.
      tags: [Token Management]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteTokenInput"
            examples:
              tier2_supplier:
                summary: Invite a Tier 2 dyehouse
                value:
                  tier: tier2
                  supplierRef: XYZ Dyehouse
                  expiresIn: 604800
              tier3_supplier:
                summary: Invite a Tier 3 raw material supplier
                value:
                  tier: tier3
                  supplierRef: Gujarat Cotton Co
                  expiresIn: 604800
      responses:
        "201":
          description: Invite token created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteToken"
              examples:
                default:
                  value:
                    tokenId: sit_<32-char-token-id>
                    token: "<jwt-compact-serialisation>"
                    tier: tier2
                    gtin: "0123456789012"
                    batchId: B2026Q1-001
                    supplierRef: XYZ Dyehouse
                    expiresAt: "2026-06-23T00:00:00Z"
                    webFormUrl: https://app.textileeco.com/contribute/t2/<jwt-compact-serialisation>
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    get:
      operationId: listInviteTokens
      summary: List active invite tokens for a batch
      description: Returns token summaries without raw JWT values. A token's JWT is only exposed at creation time.
      tags: [Token Management]
      security:
        - bearerAuth: [dpp:brand:read]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      responses:
        "200":
          description: Active invite tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: "#/components/schemas/InviteTokenSummary"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /products/{gtin}/batches/{batchId}/invite-tokens/{tokenId}:
    delete:
      operationId: revokeInviteToken
      summary: Revoke a scoped invite token
      description: |
        Immediately invalidates the token. Any subsequent API call or web form access
        using this token will receive `401 unauthorized`. Revocation is permanent.
      tags: [Token Management]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
        - $ref: "#/components/parameters/tokenId"
      responses:
        "204":
          description: Token revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Federation ────────────────────────────────────────────────────────────

  /.well-known/thread-keys.json:
    get:
      operationId: getPublicKeys
      summary: Public key discovery (JWKS)
      description: |
        Returns the node's public key set in JWK format. Used by other THREAD nodes
        to verify ES256 signatures on Scoped Invite Tokens and Portable Packages
        issued by this node. Every THREAD-compliant node must expose this endpoint
        without authentication.

        Keys are rotated annually. The `kid` field identifies which key signed a given
        token. Multiple keys may be present during a rotation overlap window.
      tags: [Federation]
      servers:
        - url: https://api.textileeco.com
          description: Served at root path, not under /v1
      responses:
        "200":
          description: JWKS document
          headers:
            Cache-Control:
              schema:
                type: string
              examples:
                default:
                  value: public, max-age=86400
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JWKSDocument"
              examples:
                default:
                  value:
                    keys:
                      - kty: EC
                        crv: P-256
                        kid: thread-signing-2026
                        use: sig
                        alg: ES256
                        x: f83OJ3D2xF1Bg8vub9tLe1gHMzV76e8Tus9uPHvRVEU
                        y: x_FEzRu9m36HLN_tue659LNpXW6pCyStikYjKIWI5a0

  /thread/v1/dpp/{gtin}/{batchId}:
    get:
      operationId: getPublicDPP
      summary: Public read — get a published DPP
      description: |
        Returns the canonical THREAD JSON for a published DPP. No authentication
        required. Returns `404` for draft DPPs (existence is not disclosed) and
        `410` for superseded DPPs with a `Link` header pointing to the successor.

        This endpoint must be implemented by every THREAD-compliant node.
      tags: [Federation]
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      responses:
        "200":
          description: Published DPP
          headers:
            Cache-Control:
              schema:
                type: string
              examples:
                default:
                  value: public, max-age=3600
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDPP"
        "404":
          $ref: "#/components/responses/NotFound"
        "410":
          description: DPP has been superseded by a newer version
          headers:
            Link:
              schema:
                type: string
              examples:
                default:
                  value: '<https://api.textileeco.com/v1/thread/v1/dpp/0123456789012/B2026Q2-001>; rel="successor-version"'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /products/{gtin}/batches/{batchId}/export/thread-package:
    get:
      operationId: exportThreadPackage
      summary: Export a signed THREAD Portable Package
      description: |
        Returns a JWS-signed portable package containing the requesting tier's
        data slice and provenance entries. The package can be submitted to another
        THREAD-compliant node via `import-package`.

        Any authenticated caller receives the slice corresponding to their tier.
        Brand credentials return the full assembled package.
      tags: [Federation]
      security:
        - bearerAuth: [dpp:brand:read]
        - bearerAuth: [dpp:tier1:write]
        - bearerAuth: [dpp:tier2:write]
        - bearerAuth: [dpp:tier3:write]
        - inviteToken: []
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      responses:
        "200":
          description: Signed portable package
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortablePackage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /products/{gtin}/batches/{batchId}/import-package:
    post:
      operationId: importThreadPackage
      summary: Import a signed THREAD Portable Package
      description: |
        Accepts a THREAD Portable Package from any THREAD-compliant node. The
        issuing node's public key is fetched from their
        `/.well-known/thread-keys.json` to verify the JWS signature. Data is
        imported with provenance intact.
      tags: [Federation]
      security:
        - bearerAuth: [dpp:brand:write]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PortablePackage"
      responses:
        "200":
          $ref: "#/components/responses/DataAccepted"
        "400":
          description: Invalid or unverifiable package signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                default:
                  value:
                    error: invalid_signature
                    message: JWS signature could not be verified against issuer public key
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /products/{gtin}/batches/{batchId}/export/espr-registry:
    get:
      operationId: exportESPRRegistry
      summary: Export thread in EU ESPR registry format (JSON-LD)
      description: |
        Returns the thread as a JSON-LD document ready to submit to the EU ESPR
        registry. The export format will be updated when the ESPR delegated act
        for textiles is finalised (expected 2026–2027).
      tags: [Federation]
      security:
        - bearerAuth: [dpp:brand:read]
        - apiKey: []
      parameters:
        - $ref: "#/components/parameters/gtin"
        - $ref: "#/components/parameters/batchId"
      responses:
        "200":
          description: JSON-LD registry payload
          content:
            application/ld+json:
              schema:
                type: object
                description: JSON-LD document conforming to the EU ESPR registry submission format
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # ── Webhooks ──────────────────────────────────────────────────────────────

  /webhooks:
    post:
      operationId: createWebhook
      summary: Subscribe to batch thread events
      tags: [Webhooks]
      security:
        - bearerAuth: [dpp:brand:read]
        - apiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookInput"
            examples:
              default:
                value:
                  url: https://your-system.textileeco.com/thread-webhook
                  events:
                    - batch.created
                    - batch.completeness_changed
                    - batch.published
                  secret: your-hmac-secret
      responses:
        "201":
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

# ── Components ────────────────────────────────────────────────────────────────

components:
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: |
        OAuth 2.0 client credentials flow for brand ERPs and supplier systems.
        Exchange client credentials for a scoped access token (1-hour lifetime).

        ```
        POST https://auth.textileeco.com/oauth/token
        Content-Type: application/x-www-form-urlencoded

        grant_type=client_credentials
        &client_id=<your-client-id>
        &client_secret=<your-client-secret>
        &scope=dpp:brand:write
        ```
      flows:
        clientCredentials:
          tokenUrl: https://auth.textileeco.com/oauth/token
          scopes:
            dpp:brand:write: >
              Write brand-layer fields (product identity, circular economy, compliance,
              publishing). Also grants: invite token management, webhook management,
              portable package import.
            dpp:brand:read: >
              Read full DPP including draft data, completeness reports, ESPR registry
              export, portable package export, active invite token list.
            dpp:tier1:write: >
              Write Tier-1 fields: CMT manufacturing stage, social compliance data.
            dpp:tier2:write: >
              Write Tier-2 fields: processing manufacturing stage, environmental impact
              (carbon, water, chemicals).
            dpp:tier3:write: >
              Write Tier-3 fields: raw material composition, fibre certifications.
            dpp:certifier:write: >
              Submit verified certification records for any tier.

    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: >
        Brand API key for machine-to-machine integrations (ERP, PLM).
        Format: `thr_live_{32 chars}` (production) or `thr_test_{32 chars}` (sandbox).
        Carries dpp:brand:write + dpp:brand:read privileges. Non-expiring; revocable
        from the dashboard. 24-hour overlap window after rotation.

    inviteToken:
      type: http
      scheme: bearer
      bearerFormat: thr_inv
      description: >
        Short-lived invite token generated by the brand for a specific tier + GTIN + batch.
        Format: `thr_inv_{32 chars}`. Maximum lifetime 7 days. Invalidated after the
        first successful data write. Use Authorization: Bearer {token}.

  parameters:
    gtin:
      name: gtin
      in: path
      required: true
      description: GTIN-13 product identifier
      schema:
        type: string
        pattern: '^\d{13}$'

    batchId:
      name: batchId
      in: path
      required: true
      description: Batch/lot identifier unique within the GTIN scope
      schema:
        type: string

    tokenId:
      name: tokenId
      in: path
      required: true
      description: Scoped invite token identifier (`sit_...`)
      schema:
        type: string
        pattern: "^sit_[A-Za-z0-9]{32}$"

  responses:
    DataAccepted:
      description: Data accepted and merged into the batch thread
      content:
        application/json:
          schema:
            type: object
            properties:
              completenessScore:
                type: number
                minimum: 0
                maximum: 1
              espr:
                type: object
                properties:
                  status:
                    type: string
                    enum: [incomplete, complete]
                  missingFields:
                    type: array
                    items:
                      type: string

    ValidationError:
      description: Request body failed schema validation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            default:
              value:
                error: validation_failed
                message: Material percentages do not sum to 100
                fields:
                  - path: materials[0].percentage
                    issue: Values sum to 98, expected 100

    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            default:
              value:
                error: unauthorized
                message: Bearer token is missing or expired

    Forbidden:
      description: Token scope does not permit this operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            default:
              value:
                error: forbidden
                message: Scope dpp:tier2:write cannot write to materials (Tier 3 domain)

    NotFound:
      description: GTIN or batch not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            default:
              value:
                error: not_found
                message: Batch B2026Q1-001 not found for GTIN 0123456789012

    Conflict:
      description: Operation conflicts with current state (e.g. writing to a published DPP)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            default:
              value:
                error: conflict
                message: thread is published and cannot be modified. Create a new batch version instead.

  schemas:
    Error:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable description
        fields:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
              issue:
                type: string

    InviteToken:
      type: object
      required: [tokenId, token, tier, gtin, batchId, expiresAt, webFormUrl]
      properties:
        tokenId:
          type: string
          pattern: "^sit_[A-Za-z0-9]{32}$"
          description: Revocation handle — use with `DELETE /invite-tokens/{tokenId}`
        token:
          type: string
          description: |
            JWT compact serialisation. Shown only at creation time — not retrievable
            via the list endpoint. Use as `Authorization: Bearer <token>`.
        tier:
          type: string
          enum: [tier1, tier2, tier3, certifier]
        gtin:
          type: string
          pattern: '^\d{13}$'
        batchId:
          type: string
        supplierRef:
          type: string
        expiresAt:
          type: string
          format: date-time
        webFormUrl:
          type: string
          format: uri
          description: Pre-authenticated URL for the Tier C web form — share with low-tech suppliers

    InviteTokenSummary:
      type: object
      description: Token metadata returned by the list endpoint. Raw JWT is not included.
      properties:
        tokenId:
          type: string
          pattern: "^sit_[A-Za-z0-9]{32}$"
        tier:
          type: string
          enum: [tier1, tier2, tier3, certifier]
        supplierRef:
          type: string
        issuedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
          description: Timestamp of most recent authenticated request using this token, if any

    JWKSDocument:
      type: object
      required: [keys]
      description: |
        JSON Web Key Set. Used to verify ES256 signatures on Scoped Invite Tokens
        and Portable Packages issued by this node.
      properties:
        keys:
          type: array
          items:
            type: object
            required: [kty, crv, kid, use, alg, x, y]
            properties:
              kty:
                type: string
                enum: [EC]
              crv:
                type: string
                enum: [P-256]
              kid:
                type: string
                description: Key identifier — rotated annually; multiple keys present during overlap
              use:
                type: string
                enum: [sig]
              alg:
                type: string
                enum: [ES256]
              x:
                type: string
                description: Base64url-encoded x coordinate
              y:
                type: string
                description: Base64url-encoded y coordinate

    ProductInput:
      type: object
      required: [gtin, name, category, targetMarket]
      properties:
        gtin:
          type: string
          pattern: '^\d{13}$'
        name:
          type: string
        modelNumber:
          type: string
        category:
          type: object
          required: [gpc]
          properties:
            gpc:
              type: string
              description: GS1 Global Product Classification brick code
            description:
              type: string
        targetMarket:
          type: array
          items:
            type: string
            pattern: "^[A-Z]{2}$"
          description: ISO 3166-1 alpha-2 country codes
        euImporter:
          type: object
          description: Required when brand is outside the EU
          properties:
            name:
              type: string
            country:
              type: string
              pattern: "^[A-Z]{2}$"
            vatNumber:
              type: string
            address:
              type: string
              description: Full registered address of the EU importer

    ProductResponse:
      allOf:
        - $ref: "#/components/schemas/ProductInput"
        - type: object
          properties:
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    BatchInput:
      type: object
      required: [batchId, productionDate, quantity, unit, countryOfOrigin]
      properties:
        batchId:
          type: string
        productionDate:
          type: string
          pattern: '^\d{4}-\d{2}$'
          description: ISO 8601 year-month (YYYY-MM)
        quantity:
          type: number
          minimum: 0
        unit:
          type: string
          enum: [pieces, kg, metres]
        countryOfOrigin:
          type: string
          pattern: "^[A-Z]{2}$"
          description: ISO 3166-1 alpha-2 — country of last substantial transformation

    BatchCreatedResponse:
      type: object
      properties:
        id:
          type: string
          format: uri
        status:
          type: string
          enum: [draft]
        completenessScore:
          type: number
          minimum: 0
          maximum: 1
        supplierInviteLinks:
          type: object
          description: >
            Pre-generated web form URLs for each supplier tier. Share with the
            supplier to open the Tier C form, or extract the token from the path
            for direct API use. Generate replacements via `POST /invite-tokens`.
          properties:
            tier1:
              type: string
              format: uri
            tier2:
              type: string
              format: uri
            tier3:
              type: string
              format: uri

    MaterialEntry:
      type: object
      required: [fibre, percentage, origin, recycledContent]
      properties:
        fibre:
          type: string
          description: Fibre type — ISO 2076 name preferred, lowercase
        percentage:
          type: number
          minimum: 0
          maximum: 100
        origin:
          type: object
          required: [country]
          properties:
            country:
              type: string
              pattern: "^[A-Z]{2}$"
            region:
              type: string
        recycledContent:
          type: number
          minimum: 0
          maximum: 100
          description: Percentage of recycled input by weight
        certifications:
          type: array
          items:
            type: string
        supplierRef:
          type: string
          format: uri
          description: GLN or URN of the raw material supplier

    ManufacturingStage:
      type: object
      required: [stage, facility]
      properties:
        stage:
          type: string
          enum:
            - raw_material
            - ginning
            - spinning
            - weaving_knitting
            - dyeing_finishing
            - cut_make_trim
            - embellishment
            - logistics
        facility:
          type: object
          required: [name, country]
          properties:
            id:
              type: string
              description: GLN as URN (urn:gs1:414:...) or other facility identifier
            name:
              type: string
            country:
              type: string
              pattern: "^[A-Z]{2}$"
            city:
              type: string
            certifications:
              type: array
              items:
                type: string
              description: Facility-level certifications (e.g. SA8000, ISO 14001)

    EnvironmentalData:
      type: object
      properties:
        carbonFootprint:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
              enum: [kgCO2e]
            scope:
              type: string
              enum: [cradle-to-gate, cradle-to-grave, cradle-to-cradle]
            methodology:
              type: string
              description: e.g. "Higg MSI", "ISO 14067"
        waterConsumption:
          type: object
          properties:
            value:
              type: number
            unit:
              type: string
              enum: [litres_per_unit, litres_per_kg]
        chemicalsOfConcern:
          type: array
          items:
            type: object
            properties:
              cas:
                type: string
              name:
                type: string
              concentration:
                type: number
        microplasticRisk:
          type: string
          enum: [low, medium, high]

    SocialData:
      type: object
      properties:
        certifications:
          type: array
          items:
            type: string
        livingWageStatus:
          type: string
          enum: [self-declared, third-party-assured, not-assessed]
        auditRef:
          type: string
          format: uri

    ComplianceData:
      type: object
      properties:
        reachSVHC:
          type: array
          description: Substances of Very High Concern — empty array means none detected
          items:
            type: object
            required: [cas, name, concentration]
            properties:
              cas:
                type: string
              name:
                type: string
              concentration:
                type: number
        zdhcMRSL:
          type: string
          enum: [compliant, non-compliant, not-assessed]

    CircularEconomyData:
      type: object
      properties:
        recycledContent:
          type: number
          minimum: 0
          maximum: 100
        recyclabilityScore:
          type: string
          enum: [high, medium, low]
        recyclabilityBasis:
          type: string
        repairInfo:
          type: string
          format: uri
        endOfLifeOptions:
          type: array
          items:
            type: string
            enum:
              - take-back-scheme
              - kerbside-recyclable
              - home-compostable
              - industrial-compostable
              - textile-recycler

    CareData:
      type: object
      properties:
        washSymbols:
          type: array
          items:
            type: string
            description: ISO 3758 / GINETEX care symbol code
        expectedLifetimeWashes:
          type: integer
          minimum: 1
          description: Expected number of wash cycles before end of usable life
        expectedLifetimeYears:
          type: number
          minimum: 0
          description: Expected usable lifetime in years

    ProvenanceEntry:
      type: object
      properties:
        field:
          type: string
          description: Dot-notation path to the asserted field
        assertedBy:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            role:
              type: string
              enum:
                [
                  brand,
                  tier1-supplier,
                  tier2-supplier,
                  tier3-supplier,
                  certifier,
                ]
        issuedBy:
          type: string
          format: uri
          description: Issuing THREAD node (present on imported portable packages)
        assertedAt:
          type: string
          format: date-time
        evidenceType:
          type: string
          enum:
            [
              self-declared,
              third-party-audit,
              certification,
              lab-test,
              epr-report,
            ]
        evidenceRef:
          type: string
        method:
          type: string
          enum: [api, csv-upload, web-form, edi, portable-package]

    BatchDPP:
      type: object
      description: Full canonical THREAD batch thread. See https://thread.textileeco.com/schema.json for the complete JSON Schema.
      properties:
        thread:
          type: object
          properties:
            id:
              type: string
              format: uri
            schemaVersion:
              type: string
            status:
              type: string
              enum: [draft, published, superseded]
            issuedAt:
              type: string
              format: date-time
            issuedBy:
              type: object
            completenessScore:
              type: number
              minimum: 0
              maximum: 1
            espr:
              type: object
              properties:
                status:
                  type: string
                  enum: [incomplete, complete, published]
                missingFields:
                  type: array
                  items:
                    type: string
        product:
          $ref: "#/components/schemas/ProductInput"
        batch:
          $ref: "#/components/schemas/BatchInput"
        materials:
          type: array
          items:
            $ref: "#/components/schemas/MaterialEntry"
        manufacturing:
          type: array
          items:
            $ref: "#/components/schemas/ManufacturingStage"
        environmental:
          $ref: "#/components/schemas/EnvironmentalData"
        social:
          $ref: "#/components/schemas/SocialData"
        circularEconomy:
          $ref: "#/components/schemas/CircularEconomyData"
        compliance:
          $ref: "#/components/schemas/ComplianceData"
        care:
          $ref: "#/components/schemas/CareData"
        externalRefs:
          type: array
          description: Proprietary system identifiers (SAP, PLM, etc.) — never used for routing
          items:
            type: object
            required: [system, id]
            properties:
              system:
                type: string
                description: Name of the source system (e.g. SAP-ERP, Centric-PLM)
              id:
                type: string
                description: Identifier within that system
        provenance:
          type: array
          items:
            $ref: "#/components/schemas/ProvenanceEntry"

    CompletenessReport:
      type: object
      properties:
        score:
          type: number
          minimum: 0
          maximum: 1
        status:
          type: string
          enum: [incomplete, complete]
        espr:
          type: object
          properties:
            required:
              type: integer
            present:
              type: integer
            missing:
              type: array
              items:
                type: string

    PublishResponse:
      type: object
      properties:
        status:
          type: string
          enum: [published]
        digitalLinkUrl:
          type: string
          format: uri
          description: GS1 Digital Link URL for the published DPP
        registryRef:
          type: string
          format: uri
          description: EU ESPR registry reference (when available)

    PortablePackage:
      type: object
      description: A JWS-signed data package for cross-platform supplier data exchange
      required:
        [threadPackage, gtin, batchId, tier, data, provenance, signature]
      properties:
        threadPackage:
          type: string
          enum: ["1.0"]
        gtin:
          type: string
          pattern: '^\d{13}$'
        batchId:
          type: string
        tier:
          type: string
          enum: [brand, tier1, tier2, tier3, certifier]
        data:
          type: object
          description: The tier's canonical data fields
        provenance:
          type: array
          items:
            $ref: "#/components/schemas/ProvenanceEntry"
        signature:
          type: object
          required: [issuer, issuedAt, algorithm, value]
          properties:
            issuer:
              type: string
              format: uri
              description: Base URL of the issuing THREAD node
            issuedAt:
              type: string
              format: date-time
            algorithm:
              type: string
              enum: [ES256, RS256]
            value:
              type: string
              description: JWS compact serialisation

    InviteTokenInput:
      type: object
      required: [tier]
      properties:
        tier:
          type: string
          enum: [tier1, tier2, tier3, certifier]
          description: Supply chain tier the token grants write access to
        supplierRef:
          type: string
          description: Supplier name, email, or internal ID for your records
        expiresIn:
          type: integer
          minimum: 3600
          maximum: 604800
          default: 604800
          description: Token lifetime in seconds. Min 1 hour, max 7 days. Defaults to 7 days.

    InviteTokenResponse:
      type: object
      required: [token, url, tier, scope, expiresAt]
      properties:
        token:
          type: string
          description: Invite token value (thr_inv_{32 chars})
        url:
          type: string
          format: uri
          description: Shareable URL that opens the Tier C web form or accepts the token via API
        tier:
          type: string
          enum: [tier1, tier2, tier3, certifier]
        scope:
          type: object
          required: [gtin, batchId]
          properties:
            gtin:
              type: string
            batchId:
              type: string
        expiresAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the token expires
    ESPRRegistryExport:
      type: object
      description: |
        JSON-LD document for submission to the EU ESPR registry.
        Conforms to the THREAD ESPR export context at
        `https://thread.textileeco.com/espr-context.jsonld`.

        Property names in this document differ from the raw THREAD schema in
        cases where nested field names would collide (e.g. `cfValue` instead of
        `value` inside `carbonFootprint`). The JSON-LD context maps every term
        to its canonical IRI.

        Fields annotated `[speculative]` are based on CIRPASS-2 draft guidance.
        Their inclusion and exact form in the live registry will be confirmed
        when the ESPR delegated act for textiles is published (2026–2027).
      required:
        - '@context'
        - '@type'
        - '@id'
        - schemaVersion
        - issuedAt
        - status
        - gtin
        - batchId
        - countryOfOrigin
        - materials
        - manufacturing
        - compliance
      properties:
        '@context':
          type: string
          format: uri
          enum: ['https://thread.textileeco.com/espr-context.jsonld']
        '@type':
          type: string
          enum: ['thread:BatchDPP']
        '@id':
          type: string
          format: uri
          description: GS1 Digital Link URI — canonical public URL for this DPP
        schemaVersion:
          type: string
        issuedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [published]
        completenessScore:
          type: number
          minimum: 0
          maximum: 1
        gtin:
          type: string
          pattern: '^\d{13}$'
        batchId:
          type: string
        productName:
          type: string
        modelNumber:
          type: string
        countryOfOrigin:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 — country of last substantial transformation
        euImporter:
          type: object
          description: Required when brand is established outside the EU/EEA
          properties:
            importerName:
              type: string
            importerCountry:
              type: string
              pattern: '^[A-Z]{2}$'
            vatNumber:
              type: string
        materials:
          type: array
          description: Fibre composition — percentages must sum to 100
          items:
            type: object
            required: [fibre, percentage, fibreRecycledContent]
            properties:
              fibre:
                type: string
                description: ISO 2076 fibre name, lowercase
              percentage:
                type: number
                minimum: 0
                maximum: 100
              fibreRecycledContent:
                type: number
                minimum: 0
                maximum: 100
              materialOrigin:
                type: object
                properties:
                  originCountry:
                    type: string
                    pattern: '^[A-Z]{2}$'
                  originRegion:
                    type: string
              certifications:
                type: array
                items:
                  type: string
        manufacturing:
          type: array
          description: Ordered list of manufacturing stages (earliest first)
          items:
            type: object
            required: [stage]
            properties:
              stage:
                type: string
              facilityId:
                type: string
                description: GLN URN or THREAD self-assigned facility URN
              facilityName:
                type: string
              facilityCountry:
                type: string
                pattern: '^[A-Z]{2}$'
              facilityCity:
                type: string
        environmental:
          type: object
          description: '[speculative] Environmental impact data — exact registry fields pending delegated act'
          properties:
            carbonFootprint:
              type: object
              properties:
                cfValue:
                  type: number
                  description: Carbon footprint in kgCO2e
                cfUnit:
                  type: string
                  enum: [kgCO2e]
                cfScope:
                  type: string
                  enum: [cradle-to-gate, cradle-to-grave, cradle-to-cradle]
                cfMethodology:
                  type: string
                  description: e.g. "Higg MSI", "ISO 14067"
            waterConsumption:
              type: object
              description: '[speculative]'
              properties:
                waterValue:
                  type: number
                waterUnit:
                  type: string
                  enum: [litres_per_unit, litres_per_kg]
            microplasticRisk:
              type: string
              enum: [low, medium, high]
              description: '[speculative]'
        compliance:
          type: object
          required: [reachSVHC]
          properties:
            reachSVHC:
              type: array
              description: Substances of Very High Concern — empty array means none detected
              items:
                type: object
                required: [cas, substanceName, concentration]
                properties:
                  cas:
                    type: string
                  substanceName:
                    type: string
                  concentration:
                    type: number
            zdhcMRSL:
              type: string
              enum: [compliant, non-compliant, not-assessed]
              description: '[speculative]'
        circularEconomy:
          type: object
          description: '[speculative] Exact circular economy fields pending delegated act'
          properties:
            recycledContent:
              type: number
              minimum: 0
              maximum: 100
            recyclabilityScore:
              type: string
              enum: [high, medium, low]
            recyclabilityBasis:
              type: string
            repairInfo:
              type: string
              format: uri
            endOfLifeOptions:
              type: array
              items:
                type: string
        care:
          type: object
          description: '[speculative] Care instructions — inclusion in registry pending delegated act'
          properties:
            washSymbols:
              type: array
              items:
                type: string
                description: ISO 3758 / GINETEX care symbol code

    WebhookInput:
      type: object
      required: [url, events, secret]
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - batch.created
              - batch.data_submitted
              - batch.completeness_changed
              - batch.certification_updated
              - batch.published
              - batch.superseded
        secret:
          type: string
          description: HMAC-SHA256 secret used to sign webhook payloads

    WebhookResponse:
      allOf:
        - $ref: "#/components/schemas/WebhookInput"
        - type: object
          properties:
            id:
              type: string
            createdAt:
              type: string
              format: date-time
